<form action="/best_answer/<%= a.id  %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" name="best_answer" class="best_answer_button" value="Best"></button>
</form>
