<div class="list-wrap">
  <div class="hadding-bar"><h3 class="top-questions">Top Question</h3></div >
  <% @questions.each do |question| %>
  <div class="question-summary">
      <section class="rating">
        <table>
          <tr>
            <td>
              <span class=""><%=vote_count(question.votes) %></span>
               <p>votes</p>
            </td>
            <td>
              <span class=""><%= question.answers.count%></span>
              <p>answers</p>
            </td>
          </tr>
        </table>
      </section>
      <article class="summary"><a href="/questions/<%=  question.id%>"><%= question.title%></a></article>
  </div>
  <% end %>
</div>
