<h1>New Question</h1>
<p>this page will be hidden and button until logged in</p>
<form action="/questions" method="POST">
  <input type="text" name="question[title]" placeholder="title">
  <textarea type="text" name="question[body]" placeholder="body"></textarea>
  <input type="submit" value="Create!">



</form>
