/*fix padding problems and margins*/
body{
  font-family: sans-serif;;
}
a,a:visited{
  color:#005999;
  text-decoration: none;
}
a:hover{
  color:#ff6c00;
}
h1{
  color:#555b5f;
}

*{
  box-sizing:border-box;
}

.center-text{
  text-align: center;
}
/*top bar & main Navigation */
.top-bar{
  padding:8px;
  background-color: #2e3a42;
  margin-bottom:15px;
  text-align: right;
}
.top-bar a{
  color:#e0e0e0;
}

#nav ul {
  display: inline;
  margin: 0;
  padding:0;
  list-style-type:none;
}

#nav li{
    display:inline;
}
#nav li a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    background-color: #404d56;
    padding:15px 20px;
    border: 1px solid #212c33;
    border-radius:5px;
    -webkit-transition:all 250ms ease-in-out;
    -moz-transition:all 250ms ease-in-out;
    -ms-transition:all 250ms ease-in-out;
    -o-transition:all 250ms ease-in-out;
    transition:all 250ms ease-in-out;
}
#nav li a:hover{
  background-color:orange;
}

.contain{
  max-width:1140px;
  margin:0 auto;
}

/*stying for the questions display*/
.hadding-bar {
    background-color: #222b31;
    padding:10px;
}
.hadding-bar h3{
    font-weight:100;
    font-size:1em;
    color: #fff;
    margin:0px;
}
.top-questions{
  color: #2e3646;
  text-transform: capitalize;
}
.question-summary{
  border-bottom:1px solid #eee;
}
.question-summary:after {
    content:'';
    display:block;
    clear:both;
}
.rating{padding:10px 0px;}
.rating,.summary {
    display: inline;
    float: left;
}

.rating{
  text-align:center;
  width: 20%;
}
.rating table{
  width:100%;
}
.rating table p{
  margin:0px;
  font-size:.8em;
  color:#999;
}
.counter{
  color:#666666;
}
.summary{
  padding: 10px 15px;
  width: 80%;
}

.list-wrap{padding:20px;}

/*** LOGIN  FROM STYLING **/
#question-form, #answer-form,#comment-form {
    background:#fff;
    border-color:#ccc;
    width:100%;
    -webkit-box-shadow:0px 0px 5px #eee;
    -moz-box-shadow:0px 0px 5px #eee;
    box-shadow:0px 0px 5px #eee;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#comment-form {
 padding:5px 20px;
}
#question-form input[type="text"],#question-form textarea,
#answer-form textarea,#comment-form textarea{
  border:1px solid #ccc;
}

#question-form label,#answer-form label,#comment-form label{
  color:#005999;
}

.form-wrap {
    color:#fff;
    background-color:#2e3a42;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0px 0px 5px #ccc;
    -moz-box-shadow:0px 0px 5px #ccc;
    box-shadow:0px 0px 5px #ccc;
    min-width:400px;
    padding:20px;
    border:1px solid #1d2123;
    display:inline-block;
}

.center-align {
    text-align:center;
}

.form label{
    padding:8px 0px;
    text-align:left;
    display:block;
    color:#eee;
}

.form input[type="text"],.form input[type="password"],.form textarea{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#666;
  margin-bottom:15px;
  width:100%;
  padding:10px 5px;
  border:0px;
}

.form input[type='submit']{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding:8px 20px;
  background-color:#f77e06;
  color:#fff;
  border:0px;

}



/* style show question and answers & comments*/
.vote{
    text-align:center
}
.col-group {
    display: table;
    width: 100%;
}

.col-group div[class^='col-']{
    vertical-align: top;
    display:table-cell;
}
.col-group .col-1{
    width:10%
}
.question-header{
    border-bottom: 1px solid #eee;
    margin-bottom:20px;
}
.question-header h2{
    color:#454545;
    font-size:1.5em;
    font-weight:100;
}

.question-body{
    padding:20px 0px;
    margin-bottom:20px;
}

.question-answer {
    /*border-top:1px solid #eee;*/
    border-bottom:1px solid #eee;
    margin-bottom:20px;
    padding:20px 0px;
}

.counter{
    position:relative;
    border:0px;
    background-color:transparent;
}
.arrow-up:before ,.arrow-down:after{
    content:'';
    position:absolute;
    right:-3px;
    margin:auto;
    display:inline-block;
    border-style:solid;
}

.arrow-up:before{
  top:-8px;
  border-width:0px 10px 10px;
  border-color:transparent transparent #999 transparent;
}

.arrow-down:after {
    top: -10px;
    border-width:10px 10px 0px 10px;
    border-color:#999 transparent transparent transparent;
    border-style:solid;
}

/*comments*/

.comment-answer{
  padding-left: 100px;
  background-color:#efefef;
  padding:5px;
  margin-left:50px;
}


/*statuses */

.current_user {
    color: #fff;
    float: left;
}

/*profile page*/
.current_user {
    padding: 15px 0px;
}
#porfolio{
  color:#fff;
}
.profile-image {
    overflow:hidden;
    border-radius:100px;
    max-width: 150px;
}

.profile-image img{
    width:150px;
    height:150px;
}
.profile-background {
   background-image: url('https://static.pexels.com/photos/1240/road-street-blur-blurred.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-color: rgb(70, 77, 95);
    height: 173px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
