<h1>HOME!</h1>

  <a href="/register">register</a>
  <a href="/login">login</a>

<% if logged_in? %>
  <form method="post" action="/logout">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out" class="button">
  </form>
<% end %>
