<div class="container">
  <h1>Log in</h1>
  <form action="/login" method="post">
      <div>
        email:
        <input type="text" name="user[email]">
      </div>
      <br>
      <div>
        Password:
        <input type="password" name="user[password]">
      </div>
      <br><br>
    <input type="submit" value="Log In">
  </form>
  <br><br>
  <ul>
  <li>I need to <a href='/register'> register</a>.</li>
  </ul>
</div>
