<form action="/register" method="post">
  <h2>Register</h2>
  Name:<br>
  <input type="text" name="user[name]">
  <br>
  Email:<br>
  <input type="text" name="user[email]">
  <br>
  Password:<br>
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="register">
</form>
