<form method="post" action="/votes/<%=current_answer%>">
  <input type="hidden" name="vote[1]">
  <input type="submit" value="upvote" class="button">
</form>


<form method="post" action="/votes/<%=current_answer%>">
  <input type="hidden" name="vote[-1]">
  <input type="submit" value="downvote" class="button">
</form>
